*{
	margin: 0 auto;
}
#head{
	height: 20%;
	width: 100%;
	font-size: 55px;
	color: white;
	vertical-align: top;
}
.sname{
	color: blue;
	font-family: ¡• È;
}
table{
	margin-left: 0;
	position: absolute;
}
table #intd{
	width: 280px;
	height:40px;
	margin-right: 20px;
	margin-top: 70px;
	line-height: 40px;
}
